  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> {{ver}}
    </div>
    <strong>Copyright &copy; 2016-2017 <a href="http://www.topoto.cn">topoto.cn</a>.</strong> All rights
    reserved.
  </footer>
  <aside class="control-sidebar control-sidebar-dark">
    <div class="tab-content">
      <div class="tab-pane" id="control-sidebar-home-tab">
      </div>
      <div class="tab-pane" id="control-sidebar-stats-tab"></div>
    </div>
  </aside>
  <div class="control-sidebar-bg"></div>
