  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        {%
        if controller == "/_admin/dashboard" then
        %}
        <li class="active treeview">
        {%
        else
        %}
        <li class="treeview">
        {%
        end
        %}
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {% if controller == "/_admin/dashboard" then %}
            <li class="active">
            {%else%}
            <li class="">
            {%end%}
            <a href="/_admin/dashboard/report"><i class="fa  fa-bar-chart-o"></i> Report</a></li>
          </ul>
        </li>
        {%
        if controller == "/_admin/upstream" then
        %}
        <li class="active treeview">
        {%
        else
        %}
        <li class="treeview">
        {%
        end
        %}
          <a href="#">
            <i class="fa  fa-random"></i>
            <span>LoadBalance</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {% if controller == "/_admin/upstream" then %}
            <li class="active">
            {%else%}
            <li class="">
            {%end%}
            <a href="/_admin/upstream"><i class="fa fa-retweet"></i> Upstream Setting</a></li>
          </ul>
        </li>
		{%
		if controller == "/_admin/log" then
		%}
		<li class="active treeview">
        {%
        else
        %}
        <li class="treeview">
        {%
        end
        %}
		<a href="#">
            <i class="fa fa-list"></i>
            <span>Statistics</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {% if controller == "/_admin/log" then %}
            <li class="active">
            {%else%}
            <li class="">
            {%end%}
            <a href="/_admin/log"><i class="fa fa-circle-o"></i> URI List</a></li>
          </ul>
		</li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
